.mainContainer {
  background-color: rgba(128, 128, 128, 0.062);
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.container {
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.sideBtn {
  max-width: 20%;
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(128, 128, 128, 0.068);
  font-weight: 500;
}
.sideBtn:hover {
  background-color: rgba(128, 128, 128, 0.151);
  cursor: pointer;
  font-weight: 900;
  color: rgb(170, 54, 0);
}

h3:hover {
  color: rgb(170, 111, 0);
  cursor: default;
  //   text-decoration: underline;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
