.container {
  background-color: rgba(128, 128, 128, 0.062);
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

h3:hover {
  color: rgba(170, 111, 0, 0.801);
  cursor: default;
  //   text-decoration: underline;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
